@font-face {
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-family: OpenSans;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-family: OpenSans;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.page {
  font-family: OpenSans, sans-serif;
}

.block-with-backround {
  position: relative;
  min-height: 450px;
  background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg');
  background-position: center center;
  background-size: cover;
  background-color: #000;
}

.block-with-backround::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: relative;
  padding: 30px 0 0;
  display: flex;
  justify-content: space-between;
}

.header-logo-picture {
  width: 185px;
  height: 41px;
}

.header-navigation {
  display: flex;
  margin: 8px 0;
}

.header-list {
  display: flex;
  gap: 31px;
  margin: 0 auto;
}

.header-item {
  list-style: none;
}

.header-link {
  text-decoration: none;
  color: #fff;
}

.header-link:hover {
  text-decoration: underline;
  color: #fff;
}

.intro {
  position: relative;
  margin: 0 auto;
  padding: 100px 0 0;
  max-width: 700px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 45px;
  line-height: 1.6;
}
/* интро и баннер закончены! */

.columns {
  display: flex;
  flex-direction: row;
}

.main {
  max-width: 800px;
}

.article {
  display: flex;
  margin: 60px 0;
}

.article-picture {
  width: 380px;
  height: 295px;
}

.article-content {
  width: 380px;
  min-height: 295px;
  margin: 0 30px;
}

.article-tags-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.article-tags-link {
  text-decoration: none;
  color: #b59f5b;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.66;
}

.article-tags-link:hover {
  text-decoration: underline 2px #dcd2b8;
}

.article-tags-item {
  padding: 0 20px 0 0;
}

.article-title {
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
}

.article-title-link {
  text-decoration: none;
  color: #000;
}

.article-title-link:hover {
  color: #b59f5b;
}

.article-meta {
  display: flex;
  margin: 25px 0 45px;
  font-size: 12px;
  line-height: 1.4;
}

.article-date {
  color: #9b9b9b;
  margin: 0 12px 0 0;
}

.article-author {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.article-item {
  color: #0f0d0e;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
}

.aside {
  width: 272px;
  margin: 0 0 0 100px;
  padding: 0;
}

.container-post {
  margin: 60px 0 22px;
}

.side-posts {
  margin: 0 0 40px;
}

.side-bar-title {
  text-align: center;
  font-size: 13px;
  line-height: 1.6;
  text-transform: uppercase;
  margin: 0 0 14px;
  position: relative;
}

.side-bar-title::after {
  content: '';
  position: absolute;
  background-color: #b59f5b;
  height: 3px;
  top: 28px;
  left: 101px;
  right: 100px;
}

.post-item {
  display: flex;
  margin: 0 0 22px;
}

.post-picture {
  width: 70px;
  height: 70px;
}

.post-content {
  margin: 0 0 0 19px;
}

.post-time {
  color: #888;
  font-size: 12px;
  line-height: 1.4;
}

.post-title {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1.4;
  margin: 0 auto;
}

.post-title-link {
  text-decoration: none;
  color: #000;
}

.post-title-link:hover {
  color: #b59f5b;
}

.search-container {
  margin: 59px 0 0;
}

.search-field {
  height: 48px;
  padding-right: 35px;
  padding-left: 18px;
  background-color: #f4f7f6;
  border: 1px solid #b59f5b00;
  color: #a2a4a3;
  font-size: 13px;
}

.search-field:focus {
  outline: none;
  border: solid 1px #b59f5b;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-button {
  position: absolute;
  width: 48px;
  height: 48px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center;
  background-color: #b59f5b;
  border: none;
  cursor: pointer;
}

.search-button:hover {
  background-color: #323232;
}

.subcribe {
  margin-top: 59px;
}

.subcribe-mail {
  margin: 27px 0 0;
}

.subcribe-field {
  width: 270px;
  height: 48px;
  font-size: 13px;
  line-height: 1.4;
  background-color: #f4f7f6;
  border: 1px solid #b59f5b00;
  padding-left: 19px;
  margin: 3px 0 0;
}

.subcribe-field:focus {
  outline: none;
  border: 1px solid #b59f5b;
}

.subcribe-button {
  margin-top: 20px;
  height: 48px;
  width: 100%;
  background-color: #b59f5b;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  line-height: 1.4;
  border: none;
  cursor: pointer;
}

.subcribe-button:hover {
  background-color: #000;
}

.tags {
  margin: 55px 0 0;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 30px 0 0;
}

.tags-list-item {
  height: 30px;
  border: solid 3px #eee;
  padding: 8px 13px;
  margin: 5px 5px 0 0;
  display: flex;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

.tags-link-item {
  text-decoration: none;
  color: #000;
}

.tags-list-item:hover {
  border-color: #b59f5b;
}

.categories {
  margin: 65px 0 0;
}

.categories-list {
  padding: 0;
}

.categories-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  border-bottom: 1px solid #eee;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.6;
}

.categories-list-link {
  color: #000;
  text-decoration: none;
}

.categories-list-link:hover {
  color: #b59f5b;
}

.index-categories {
  font-weight: bold;
  font-size: 12px;
  line-height: 1.4;
  color: #b59f5b;
  position: relative;
  top: -0.5em;
}

.footer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.footer-socials {
  height: 83px;
  background-color: #f4f7f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

.footer-socials-item {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 10px;
}

.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.footer__socials-dribbble {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg);
  background-repeat: no-repeat;
}

.footer__socials-pinterest {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg);
  background-repeat: no-repeat;
}

.footer__socials-tumblr {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
  background-repeat: no-repeat;
}

.footer-copyrights {
  display: flex;
  justify-content: center;
  margin: 70px;
  padding: 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.4;
}

.footer-copyrights-link {
  color: #999;
  text-decoration: none;
}
